{% include 'header.html' %}
{% include 'nav.html' %}

<form id="repoForm">

<!-- TODO: link to org index with buttons -->

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">

    {% include 'tables.js' %}

    function checkBoxCell(params) {
        return "<input type='checkbox' name='repo' value='" + params.value + "'/>";
    }

    function repoNavCell(params) {
        return repoNav(params.value);
    }

    {% comment %}
    // to efficiently show last_scanned here we need to move it to the stats table
    // author_total can't be set clearly YET because it must be set on all rows in a denormalized way, like commitment
    // FIXME: restore both of these!
    {% endcomment %}

    var columnDefs = [
        {headerName: "",                    field: "details1", cellRenderer: checkBoxCell, width: 60, resizable: true,},
        {headerName: "Repo",                field: "repo", sortable: true, filter: true, resizable: true, },
        {headerName: "Explore",             field: "repo", cellRenderer: repoNavCell, resizable: true, },
        {headerName: "Lines Changed",       field: "lines_changed", sortable: true, filter: true, resizable: true, },
        {headerName: "Commits",             field: "commit_total", sortable: true, filter: true, resizable: true, },
        {headerName: "Days Active",         field: "days_active", sortable: true, filter: true, resizable: true, },
        {% if not author %}
        {headerName: "Author Count",        field: "author_count", sortable: true, filter: true, resizable: true, },
        {% endif %}
        {headerName: "Latest Commit Date",  field: "latest_commit_date", type: 'dateColumn', sortable: true, filter: true, resizable: true, },
        {headerName: "Last Scanned",        field: "last_scanned", type: 'dateColumn', sortable: true, filter: true, resizable: true, }
    ];

    var rowData = {{ repo_table | safe }};

    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData,
      paginationAutoPageSize: true,
      pagination: true,
      onFirstDataRendered: onFirstDataRendered,
    };

    function onFirstDataRendered(params) {
         params.api.sizeColumnsToFit();
    }

  var eGridDiv = document.querySelector('#myGrid');
  thisGrid = new agGrid.Grid(eGridDiv, gridOptions);


  </script>

</form>

{% include 'footer.html' %}