<div id="user_action__navbar">
    <div id="datepicker_dates__display" class="right" >
        <i class="far fa-calendar-alt"></i>
        <span id="start_date_display" data-date="{{ start_str }}">{{ start|date:"M d, Y" }}</span>
        &nbsp;to&nbsp;
        <span id="end_date_display" data-date="{{ end_str }}">{{ display_end|date:"M d, Y" }}</span>
    </div>
    <a href="/admin">&nbsp;<i class="fas fa-cogs"></i></a>
</div>